<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {{ new Component('header', { title: 'Login' }).render(); }}
  </head>
  <body>
    {{ new Component('nav', {links: config.links}).context(this.context).render() }}

    <main>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <div class="card">
              <div class="card-content">
                <span class="card-title">Local Account</span>
                {{
                  (this.context != undefined && this.context.user != undefined)
                  ? new Component('page/collection', [
                    {content: `<b>ID</b><span class="right">${this.context.user._id}</span>`},
                    {content: `<b>Email</b><span class="right">${this.context.user.local.email}</span>`},
                    {content: `<b>Name</b><span class="right">${this.context.user.local.name}</span>`},
                    {content: `<b>Password Hash</b><span class="right">${this.context.user.local.password}</span>`},
                  ]).context(this.context).render() : 'You are not logged in.'
                }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    {{  new Component('footer').render(); }}
  </body>
</html>
