<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {{  new Component('header', { title: 'Register' }).render(); }}
  </head>
  <body>
    {{ new Component('nav', {links: config.links}).context(this.context).render() }}

    {{
      (this.context.message != undefined && this.context.message.length > 0)
        ? new Component('toast', {
            message: this.context.message
          }).render()
        : ''
    }}
    <main>
      <div class="container">
        <div class="row">

          <div class="col s12">
            <h3>Register</h3>
          </div>

          <div class="col s12">
            <div class="card">
              <div class="card-content">
                <div class="row">
                  <form id="registerForm" class="" action="/register" method="post">
                    <div class="input-field col s12">
                      {{  new Component('forms/avatarupload', {
                            name: 'pic'
                          }).render(); }}
                    </div>

                    <div class="input-field col s12 m6">
                      <input type="email" name="email" value="" tabindex="1" required>
                      <label for="email">Email</label>
                    </div>

                    <div class="input-field col s12 m6">
                      <input type="text" name="username" value="" tabindex="2" required>
                      <label for="user">Username</label>
                    </div>

                    <div class="input-field col s12 m6">
                      <input type="password" name="password" value="" tabindex="3" required>
                      <label for="password">Password</label>
                    </div>
                    <div class="input-field col s12 m6">
                      <input type="password" name="password_repeat" value="" tabindex="3" required>
                      <label for="password_repeat">Repeat Password</label>
                    </div>
                    <div class="input-field col s12">
                      <script type="text/javascript">
                      function submit() {
                        var registerForm = document.getElementById('registerForm');

                        var pwdIn = document.getElementsByName('password')[0];
                        var pwdRepeatIn = document.getElementsByName('password_repeat')[0];

                        if(pwdIn.value == pwdRepeatIn.value) {
                          registerForm.submit();
                        } else {
                          pwdIn.classList.add('invalid');
                          pwdRepeatIn.classList.add('invalid');

                          M.toast({
                            html: 'The Password and the repeated Password do not match.'
                          })
                        }
                      }
                      </script>

                      <button onclick="submit()" class="btn waves-effect" tabindex="4">
                        Register
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </main>

    {{ new Component('footer').render(); }}
  </body>
</html>
