@if(matIconLeft)
  <i class="material-icons left">{{matIconLeft}}</i>
@endif
@if(matIconRight)
  <i class="material-icons right">{{matIconRight}}</i>
@endif
@if(svgIconLeft)
  <i class="svg-icons left">{{svgIconLeft}}</i>
@endif
@if(svgIconRight)
  <i class="svg-icons right">{{svgIconRight}}</i>
@endif
