<!-- components.sidenav.collapsible -->
<li class="no-padding bold">
  <ul class="collapsible collapsible-accordion">
    @each(item in subs)
      @!component('components.sidenav.collapsibleItem', item)
    @endeach
  </ul>
</li>
