<ul class="sidenav" id="{{id}}">
  @each(item in selectIf(items, 'this.href != undefined'))
  <li class="bold">
    @!component('components.page.link', item)
  </li>
  @endeach

  @!component('components.sidenav.collapsible', subs = selectIf(items, 'this.subs != undefined'))
</ul>
