@layout('layout.master')

@section('title')
  404 Not Found.
@endsection

@section('content')
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h1 class="block center"><span class="secondary-text">404</span> Not Found.</h1>
      </div>
    </div>
  </div>
@endsection
