<!-- components.page.link -->
<a
@if(href)
href="{{ href}}"
@endif
@if(classList)
class="{{  classList.join(' ') }}"
@endif
@if(target)
target="{{ target }}"
@endif
@if(data)
{{{ formatDataTags(data) }}}
@endif
>
{{name}}
@include('partials.itemIcon')
</a>
