@if(type)
  @if(type == 'material')
    <i class="material-icons {{ position }} {{ color }}">{{ key }}</i>
  @endif
  @if(type == 'svg-file-icon')
    <i class="svg-icon" data-src="/img/icons/filetypeicons/classic/{{key}}.svg"></i>
  @endif
@endif
