<footer class="page-footer" id="footer">
  <div class="container">
    <div class="row">
      <div class="col s12 m4">
        <h4>Pages</h4>
        {{ new Component('page/link-collection', [
          { href:"/",
            text:"Home",
            matIconLeft:"home" },
          { href:"/about",
            text:"About",
            matIconLeft:"info" }
          ]).render() }}
      </div>
      <div class="col s12 m4">
        <h4>Resources</h4>
        {{ new Component('page/link-collection', [
          { href:"https://materializecss.com/",
            text:"Materialize",
            svgIconLeft:"materialize.svg",
            target:"_blank" }
        ]).render() }}
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      &copy;Kouna {{(new Date()).getFullYear()}}
    </div>
  </div>
</footer>
