<!-- Meta -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Custom Style -->
<link rel="stylesheet" href="/css/style.css">

<!-- GitHub Markdown -->
<link rel="stylesheet" href="/css/github-markdown.css" type="text/css">

<!-- Materialize -->
<link rel="stylesheet" href="/css/materialize.css" type="text/css" />
<script type="text/javascript" src="/js/materialize.js"></script>
<script>
  // Materialize Initilaisation
  document.addEventListener('DOMContentLoaded', function() {
    M.AutoInit();
  })
</script>

<!-- MathJax -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

<!-- Page Display -->
<title>{{this.data.title}} ★ kouna.io</title>
<meta name="theme-color" content="{{this.data.themecolor}}">
