<!-- BEGIN {{this.name}} -->
<li class="bold">
  <a class="collapsible-header waves-effect">{{this.data.name}}<i class="material-icons right">expand_more</i></a>
  <div class="collapsible-body">
    <ul>
      {{
        this.data.subs.map(link => {
          if(link.href != undefined) {
            return new Component('nav/link', link).render();
          }
          if(link.subs != undefined) {
            return new Component('nav/dropdown', link).render();
          }
        }).join('\n')
      }}
    </ul>
  </div>
</li>
<!-- END {{this.name}} -->
