<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {{new Component('header', {title: "About Me"}).render()}}
  </head>
  <body>
    {{ new Component('nav', {links: config.links}).render() }}

    <main id="main">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h1>About Me</h1>
            <div class="card">
              <div class="card-content">
                <p class="flow-text">Hey there its me. <br>
                  What you don't know me, okay okay I'll introduce myself.
                  My name is Kouna, sometimes Kounah (because it was taken :/),
                  however I am {{
                    let moment = require('moment');

                    '' + Math.floor(moment.duration(moment() - moment('1999-07-05')).asDays());
                  }} Days old (Yeah days, deal with it). Most people seeing me for the first time would say i am a freak, thats basically true but it would be mean calling me that way.<br><br>
                </p>
                <b>Stuff that I like</b>
                <ul>
                  <li>Games</li>
                  <li>Anime / Manga</li>
                  <li>Programming</li>
                  <li>Drawing</li>
                  <li>Sleeping</li>
                  <li>Lazing around</li>
                </ul>
                <b>Suff that I don't like</b>
                <ul>
                  <li>mean people</li>
                  <li>stuff that puts me under pressure</li>
                  <li>being criticized about something that I didn't do wrong</li>
                  <li>to be fooled (I'm kinda na&iuml;ve)</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col s12">
            <h2>What I care for</h2>
          </div>

          <div class="col s12 l4">
            <div class="card">
              <div class="card-image">
                <img class="image" src="/img/gaming.jpg" style="background-image: url(/img/gaming.jpg)">
                <span class="card-title">Gaming</span>
                <a class="btn-floating halfway-fab waves-effect blue-grey darken-2 orange-text activator"><i class="material-icons">expand_more</i></a>
              </div>
              <div class="card-content">
                <p>
                  I am a Gamer. <br>
                  And I am Proud of spending my time exploring new, wonderful and impressive worlds.
                </p>
              </div>
              <div class="card-reveal">
                <span class="card-title gre-text text-darken-4"><i class="material-icons right">close</i></span>
                <p>As long as it is not League of Legends or anything alike, ill play about anything, at least I'll see if i like it. As I was younger i mostly played shooter-games, but now I'm more into MMORGPGs and J-RPGs. Anything you can play with some cool and funny people is fine actually.</p>
              </div>
            </div>
          </div>

          <div class="col s12 l4">
            <div class="card">
              <div class="card-image">
                <img class="image" src="/img/programming.jpg" style="background-image: url(/img/programming.jpg)">
                <span class="card-title">Programming</span>
                <a class="btn-floating halfway-fab waves-effect blue-grey darken-2 orange-text activator"><i class="material-icons">expand_more</i></a>
              </div>
              <div class="card-content">
                <p>
                  Since I am basically living with computers I have to know a way to make them do exactly as I want, Programming is the way to do so.</p>
              </div>
              <div class="card-reveal">
                <span class="card-title gre-text text-darken-4"><i class="material-icons right">close</i></span>
                <p>Knowing a lot of programming language is not that much, more relavant is knowing the how-to's, the do's and don't's so i keep learning each and everyday. <br>
                  this websites backend is written in nodeJS, I am using a self-made templating system. With that i can write default HTML templates that can be filled with components and other stuff from my node environment. <br>
                  I also know some other languages such as C/C++, C#, Java, HTML, CSS, JavaScript, Pascal, Python, Bash, SQL and some more.
                </p>
              </div>
            </div>
          </div>

          <div class="col s12 l4">
            <div class="card">
              <div class="card-image">
                <img class="image" src="/img/otaku-culture.jpg" style="background-image: url(/img/otaku-culture.jpg)">
                <span class="card-title">Otaku-Culture</span>
                <a class="btn-floating halfway-fab waves-effect blue-grey darken-2 orange-text activator"><i class="material-icons">expand_more</i></a>
              </div>
              <div class="card-content">
                <p>
                  While the average Human being in the western world enjoys Netflix, or Amazon Prime as Entertainment solution, we Otakus know to treasure the japanese way of doing so. Anime, Manga and so on tell us heartbreaking stories, make us laugh to the exhaust, and let us be astonished by amazing fights and incredible stories.
                </p>
              </div>
              <div class="card-reveal">
                <span class="card-title gre-text text-darken-4"><i class="material-icons right">close</i></span>
                <p>I still have to think of something to say here.<br>and i should replace that picture.</p>
              </div>
            </div>
          </div>

          <div class="col s12">
            <div class="card">
              <div class="card-content">
                <img class="responsive-img" src="/img/kouna_by_Okotte-Neko.png">
                <p class="flow-text">If you want to know who made this picture, it wasn't me but i can present you some links if you are really curious. <a href="#!">some link</a></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </main>

    {{ new Component('footer').render()}}
  </body>
</html>
